@import url(./null.css); 
@import url(./fonts.css);


/* styles */
@import url(./markup-styles/header.css);
@import url(./markup-styles/sec-1-financial.css);
@import url(./markup-styles/sec-2-products.css);
@import url(./markup-styles/sec-3-payments.css);
@import url(./markup-styles/sec-4-billing.css);
@import url(./markup-styles/sec-5-connect.css);
@import url(./markup-styles/sec-6-issuing.css);
@import url(./markup-styles/sec-7-commerce.css);
@import url(./markup-styles/sec-8-enterprise.css);
@import url(./markup-styles/sec-9-startup.css);
@import url(./markup-styles/sec-10-powerful.css);
@import url(./markup-styles/sec-11-options.css);
@import url(./markup-styles/sec-12-stripeinfo.css);
@import url(./markup-styles/footer.css);

/* styles */

.lines {
    position: relative;
    width: 100%;
}



@media (max-width: 768px) {
    body.lock {
        overflow-y: hidden;
    }
}




body {
    font-family: "Inter", serif;
    font-size: 14px;
    /*font-family: "Source Code Pro", serif; */
    /* font-family: 'NimbusMono-Regular'; */

    
}


.container {
    max-width: 1084px;
    padding: 0px 16px;
    margin: 0 auto;
}

main {
    max-width: 2560px;
    margin: 0 auto;
}