@import "./null";
@import "./fonts";

/*imports*/
@import "./markup-styles/sec-3-payments";

.lines {
    position: relative;
    width: 100%;
}

@media (max-width: 768px) {
    body.lock {
        overflow-y: hidden;
    }
}

body {
    font-family: "Inter", serif;
    font-size: 14px;
    /*font-family: "Source Code Pro", serif; */
    /* font-family: 'NimbusMono-Regular'; */

}


.container {
    max-width: 1084px;
    padding: 0px 16px;
    margin: 0 auto;
}

main {
    max-width: 2560px;
    margin: 0 auto;
}


