
.payments {
    background-color: #F6F9FC;
}

.payments__items {
    display: flex;
    justify-content: space-between;
    padding-bottom: 200px;
}

.payments__globally {
    /* padding-top: 70px; */
    z-index: 1;
}

.payments__card {
    padding-right: 121px;
}

.payments__globally-tagline {
    display: flex;
    align-items: center;
    gap: 12.5px;
    margin-bottom: 16px;
}

.payments__globally-tagline img {
    width: 15px;
    height: 20px;
}

.payments__globally-tagline span {
    font-weight: 500;
    font-size: 17px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #2E3A55;
}

.payments__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -0.2px;
    color: #0A2540;
    margin-bottom: 24px;
    max-width: 360px;
}

.payments__subtitle {
    font-weight: 700;
    font-size: 17px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #425466;
    margin-bottom: 24px;
    max-width: 455px;
}

.payments__btn {
    display: flex;
    gap: 11px;
    align-items: center;
    font-weight: 500;
    font-size: 13.5px;
    line-height: 24px;
    padding: 3px 15px 3px 16px;
    border-radius: 99px;
    background-color: #635BFF;
    color: #FFFFFF;
    font-family: "Inter", serif;
    cursor: pointer;
    margin-bottom: 56px;
    letter-spacing: 0.2px;
}

.payments__btn:active {
    scale: .99;
}

.payments__globally dl dt {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #0A2540;
    padding-top: 8px;
}

.payments__globally dl dd {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #425466;
}

.payments__globally dl span {
    color: #635BFF;
    cursor: pointer;
}

.payments__globally dl .radar {
    font-weight: 700;
}

.payments__globally dl dd:not(:last-child) {
    padding-bottom: 4px;
}

.payments .payments-price {
    color: #0A2540;
    font-weight: 500;
    letter-spacing: 0.013rem;
    padding-bottom: 10px;
    font-size: 11px;
}

.payments .payments-descr {
    color: #425466;
    padding-bottom: 10px;
}

.payments__method {
    height: 1px;
}

.payments-logo {
    padding-bottom: 10px;
}

.payments-logo img {
    width: 72px;
    height: 72px;
    border-radius: 7px;
}

.payments .card-pay {
    background-color: #33DDB3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Inter", serif;
}

.payments .card-pay span {
    position: relative;
}

.payments .card-pay span::after {
    content: '';
    position: absolute;
    width: 0.053rem;
    height: 90%;
    background-color: #727F96;
    left: -0.55rem;
    top: 50%;
    transform: translateY(-50%);
    opacity: .3;
}

.payments .card-pay span {
    margin-right: 8px;
    color: #1D3944;
    font-weight: 500;
}

.payments .card-pay img:nth-of-type(1) {
    width: 27px;
    height: 11px;
    margin-right: 16px;
}

.payments .card-pay img:nth-of-type(2) {
    width: 10px;
    height: 11px;
}



@media (max-width: 1440px) {
    .payments .financial__card-body {
        display: none;
    }

    .payments .payments__method {
        display: none;
    }

    .commerce .commerce__img img {
        width: 727px;
        height: auto;
    }
}


@media (max-width: 1024px) {

    

    .payments .financial__card-body {
        display: block;
    }

    .payments .payments__method {
        display: block;
    }

    .payments .payments__subtitle {
        max-width: 430px;
    }

}

@media (max-width: 840px) {
    .payments .payments__items {
        display: block;
    }

    .payments .payments__title {
        max-width: 100%;
    }

    .payments .payments__subtitle {
        max-width: 100%;
    }

    .payments .payments__btn {
        margin-bottom: 30px;
    }

    .payments .payments__card {
        padding-right: 0px;
        display: flex;
        justify-content: center;
    }

    .payments .payments__globally {
        padding-bottom: 30px;
    }
}

@media (max-width: 768px) {
    .payments .products__line-decore div:nth-child(1) {
        display: none;
    }

    .payments .products__line-decore div:nth-child(2) {
        display: none;
    }

    .payments .products__line-decore div {
        flex: 0 1 50%;
    }

}

@media (max-width: 570px) {
    .payments .products__line-decore div{
        display: none;
    }
}
