.enterprise__tagline {
    font-weight: 500;
    font-size: 16.5px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #635BFF;
    margin-bottom: 24px;
}

.enterprise__header {
    font-weight: 500;
    font-size: 34.7px;
    line-height: 48px;
    letter-spacing: -0.2px;
    color: #0A2540;
    margin-bottom: 24px;
}

.enterprise__header-subtitle {
    font-weight: 500;
    font-size: 16.4px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #425466;
    margin-bottom: 27px;
    max-width: 720px;
}

.enterprise__header-subtitle span {
    color: #635BFF;
    font-size: 16.3px;
}

.enterprise__head .enterprise__sales {
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0.2px;
    display: flex;
    align-items: center;
    gap: 10px;
    /* line-height: 150%; */
    background: #635BFF;
    border-radius: 99px;
    /* display: inline-block; */
    padding: 0px 13px;
    width: 138px;
    height: 33px;
}

.enterprise__head .enterprise__sales:active {
    scale: .98;
}

.enterprise__head {
    margin-bottom: 64px;
    position: relative;
    z-index: 1;
    padding-top: 128px;
}

.enterprise__card-items {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 1px solid;
    border-image: linear-gradient(to right,
            #0663AB 25%,
            #DF9F34 25%, #DF9F34 50%,
            #42B0D5 50%, #42B0D5 75%,
            #C54647 75%) 1;
}

.enterprise__card-block {
    margin-bottom: 48px;
}

.enterprise__card-block span {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.2px;
    color: #0A2540;
    margin-bottom: 8px;
    position: relative;
}

.enterprise__card-block p {
    font-weight: 500;
    font-size: 13.8px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #425466;
}

.enterprise__card-block:nth-of-type(1) {
    max-width: 177px;
}

.enterprise__card-block:nth-of-type(2) {
    max-width: 187px;
}

.enterprise__card-product .product__title {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #0A2540;
    margin-bottom: 24px;
}


.card-product-entry {
    display: flex;
    gap: 16.5px;
    align-items: center;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #425466;
}

.card-product-entry img {
    width: 20px;
    height: 20px;
}

.card-product-entry:not(:last-child) {
    margin-bottom: 14px;
}

.enterprise__card-inner {
    position: relative;
}

.enterprise .enterprise__slider {
    display: none;
}

.enterprise__card-descr {
    font-weight: 500;
    font-size: 24.5px;
    line-height: 36px;
    color: #FFFFFF;
    position: absolute;
    bottom: 24px;
    left: 24px;
    width: 405px;
}




.enterprise__card-inner img:nth-of-type(1) {
    box-shadow: 0px 13px 27px -5px rgba(50, 50, 93, 0.25), 0px 8px 16px -8px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    max-width: 744px;
}

.enterprise__card-inner img:nth-of-type(2) {
    position: absolute;
    left: 24px;
    top: 24px;
    cursor: pointer;
}

.enterprise__card-inner img:nth-of-type(3) {
    position: absolute;
    right: 24px;
    top: 24px;
    cursor: pointer;
}





.enterprise__card-product .product__title {
    position: relative;
}

.enterprise__card-item .decore::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 24px;
    background-color: #635BFF;
    left: -11px;
    top: 50%;
    transform: translateY(-50%);
}

.enterprise .products__line-decore div:nth-child(1) {
    border-right: 1px solid #EEEEF2;
    margin-bottom: 32%;
}

.enterprise .products__line-decore div:nth-child(2) {
    border-right: 1px solid #EEEEF2;
    margin-bottom: 32%;
}

.enterprise .products__line-decore div:nth-child(3) {
    border-right: 1px solid #EEEEF2;
    margin-bottom: 32%;
}


.enterprise__logos {
    display: flex;
    align-items: center;
}

.enterprise__logos {
    padding-left: 115px;
}

.enterprise__logos-item {
    cursor: pointer;
}

.enterprise__logos .enterprise__logos-item:nth-child(1) {
    margin-right: 196px;
}

.enterprise__logos .enterprise__logos-item:nth-child(2) {
    margin-right: 147px;
    padding-top: 5px;
}

.enterprise__logos .enterprise__logos-item:nth-child(3) {
    margin-right: 133px;
}

.enterprise__logos .enterprise__logos-item:nth-child(4) {
    margin-right: 80px;
}

.enterprise__logos .enterprise__logos-item:nth-child(5) {
    margin-right: 90px;
}

.enterprise__inner {
    padding-bottom: 148px;
}



@media (max-width: 1024px) {
    .enterprise .enterprise__card-items {
        display: block;
        border-bottom: none;
        border-image: none;
    }

    .enterprise .enterprise__card-inner img:nth-of-type(1) {
        max-width: 100%;
    }

    .enterprise .enterprise__card-items {
        max-width: 810px;
    }

    .enterprise .enterprise__card-block:nth-of-type(2),
    .enterprise .enterprise__card-product {
        display: none;
    }

    .enterprise .enterprise__head {
        margin-bottom: 30px;
    }

    .enterprise .enterprise__logos {
        display: none;
    }


    .enterprise .enterprise__slider {
        display: block;
    }


    .enterprise .enterprise__slider {
        text-align: center;
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

    .enterprise .enterprise__slider-inner {
        display: flex;
        align-items: center;
        gap: 6px;
        min-height: 6px;
    }

    .enterprise .enterprise__slider-inner span {
        width: 24px;
        height: 4px;
        border-radius: 3px;
        background-color: #0101014D;
        cursor: pointer;
    }

    .enterprise .enterprise__slider-inner span.active {
        background-color: #635BFF;
    }


    .enterprise .products__line-decore div:nth-child(1),
    .enterprise .products__line-decore div:nth-child(2),
    .enterprise .products__line-decore div:nth-child(3) {
        display: none;
    }
}




@media (max-width: 600px) {
    .enterprise .enterprise__card-descr {
        font-size: 20px;
        line-height: 30px;
    }

    .enterprise .enterprise__inner {
        padding-bottom: 30px;
    }
}

@media (max-width: 460px) {

    .enterprise .enterprise__card-descr {
        font-size: 16px;
        max-width: 300px;
        line-height: 25px;
    }

    .enterprise__card-inner img:nth-of-type(2) {
        width: 80px;
        height: auto;
    }

    .enterprise__card-inner img:nth-of-type(3) {
        width: 15px;
        height: auto;
    }
}