.stripe-info {
    background-color: #F6F9FC;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);  
}

.stripe-info__items {
    padding-top: 128px;
    display: flex;
    position: relative;
    z-index: 1;
    padding-bottom: 258px;
}

.stripe-info__items .stripe-info__item:nth-child(1) {
    margin-right: 121px;
}

.stripe-info__items .stripe-info__item:nth-child(2) {
    margin-right: 84px;
}

.stripe-info__items .stripe-info__item {
    background-color: #F6F9FC;
}

.stripe-info__item-caption {
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #0A2540;
    margin-bottom: 24px;
}

.stripe-info__item .caption {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #0A2540;
    position: relative;
}

.stripe-info__item .caption::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -16px;
    height: 15px;
    width: 1px;
    background-color: #635BFF;

}

.stripe-info__item-text {
    font-weight: 500;
    font-size: 16.4px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #425466;
    margin-bottom: 24px;
    max-width: 420px;
}

.stripe-info__item-text a {
    color: #635BFF;
}

.stripe-info__item-funcs {
    display: flex;
    gap: 16px;
    align-items: center;
}

.stripe-info__item-funcs button {
    padding-left: 16px;
    background-color: #635BFF;
    height: 33px;
    width: 112px;
    border-radius: 99px;
    display: flex;
    align-items: center;
    gap: 14px;
    cursor: pointer;
}

.stripe-info__item-funcs button:active {
    scale: .99;
}

.stripe-info__item-funcs button span {
    font-weight: 500;
    font-size: 13.3px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.stripe-info__item-funcs a {
    display: flex;
    align-items: center;
    gap: 10px;
}

.stripe-info__item-funcs a span {
    color: #635BFF;
    font-weight: 500;
    font-size: 14px;
    line-height: 180%;
}

.stripe-info__item:nth-child(2) .stripeinfo__item-title,
.stripe-info__item:nth-child(3) .stripeinfo__item-title {
    margin-bottom: 8px;
}

.stripe-info__item:nth-child(2) {
    max-width: 187px;
}

.stripe-info__item:nth-child(3) {
    max-width: 203px;
}

.stripe-info__item-detail {
    font-weight: 500;
    font-size: 13.7px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #425466;
    margin-bottom: 8px;
}

.stripe-info__item .item__button {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    font-size: 13.7px;
    line-height: 24px;
    color: #635BFF;
}

.stripe-info__item-images {
    position: relative;
    min-height: 42px;
    margin-bottom: 15px;
    padding-left: 30px;
}

.stripe-info__item-images .item-img {
    position: absolute;
    top: 2px;
    left: 15px;
    cursor: pointer;
}

.stripe-info .products__line-gear div:nth-child(1) {
    border-right: 1px solid #EEEEF2;
    margin-bottom: 26%;


}

.stripe-info .products__line-gear div:nth-child(2) {
    border-right: 1px solid #EEEEF2;
    margin-bottom: 26%;


}

.stripe-info .products__line-gear div:nth-child(3) {
    border-right: 1px solid #EEEEF2;
    margin-bottom: 26%;
}


@media (max-width: 1085px) {
    .stripe-info .products__line-gear div {
        display: none;
    }
}

@media (max-width: 910px) {
    .stripe-info .stripe-info__items .stripe-info__item:nth-child(1) {
        margin-right: 55px;
    }
}

@media (max-width: 860px) {
    .stripe-info__items .stripe-info__item:nth-child(2) {
        margin-right: 60px;
    }
}

@media (max-width: 790px) {
    .stripe-info .stripe-info__items .stripeinfo__item:nth-child(1) {
        margin-right: 40px;
    }
}

@media (max-width: 768px) {
    .stripe-info .stripe-info__items {
        display: block;

    }


    .stripe-info .stripe-info__item {
        min-width: 100%;
        padding: 20px 20px 20px 30px;
        margin-right: unset !important;
        border-radius: 8px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 5px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        /* border: 1px solid #eeeeee; */
    }

    .stripe-info .stripe-info__item:not(:last-child) {
        margin-bottom: 30px;
    }


    .stripei-nfo {
        clip-path: polygon(0 0, 100% 0, 100% 94%, 0 100%);
    }

    .stripe-info .stripeinfo__items {
        padding-bottom: 128px
    }


    .stripe-info .products__line-gear div:nth-child(1) {
        display: none;
    }

    .stripe-info .products__line-gear div:nth-child(2) {
        display: none;
    }

    .stripe-info .products__line-gear div:nth-child(3) {
        display: block;
        /* margin-bottom: 90%; */
        height: 150px;
    }

    .stripe-info .products__line-gear div {
        flex: 0 1 50%;
    }

}